@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Pro', serif;
font-family: 'Taviraj', serif;
*/
.app {
  /* 100vh is the fallback for browsers that don't support dvh */
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
