@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Cormorant Garamond', serif;
font-family: 'Crimson Pro', serif;
font-family: 'Taviraj', serif;
*/
.app {
  /* 100vh is the fallback for browsers that don't support dvh */
  min-height: 100vh;
  min-height: 100dvh;
  /* grid and this template is used for footer */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.btn-primary {
  @apply py-4 w-[200px] rounded-md font-medium text-2xl font-crimson-pro
  bg-harbs-brown text-white shadow-md;
}

.btn-secondary {
  @apply py-2 w-[100px] rounded-md font-medium text-xl font-crimson-pro
  bg-white text-harbs-brown-darkest shadow-md border-harbs-brown-darkest border-2;
}
